body {
    font-family: Arial, sans-serif;
    background-image: url('coca-cola-making-of-bottle-small-thumbnail.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.wrapper {
    width: 360px;
    padding: 30px;
    background-color: #fff; 
    border-radius: 20px;
    box-shadow: 0px 0px 30px rgba(8, 8, 8, 0.7), 0 0 0 4px black; 
    background-image: url('red-wave-shape-with-white-lines-on-white-background-vector.jpg');
    background-size: cover;
    background-position: center;
}


        .wrapper h2 {
            text-align: center;
            margin-bottom: 20px;
            color: white; 
            font-weight: bold; 
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
            text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
        }

        .form-group {
            margin-bottom: 20px;
        }

        label {
            color: white; 
            font-weight: bold; 
            text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
        }

        .form-control {
            border-color: rgb(0, 0, 0);
            font-weight: bold;
        }

        .form-control:focus {
            border-color: rgb(88, 88, 88); 
            box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
        }

        .btn-primary {
            background-color: rgb(88, 88, 88); 
            border-color: black;
            font-weight: bold;
        }

        .btn-primary:hover {
            background-color: rgb(255, 0, 0); 
            border-color: #56595c;
        }

        .alert {
            margin-top: 20px;
        }
        p {
    font-weight: bold;
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}


        a {
             font-weight: bold;
             color: rgb(255, 255, 255);
             text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
        } 
        
